{{- if hugo.IsProduction }}
	{{- /* Production favicon can be customized… */ -}}
	{{ if templates.Exists "partials/head/link_favicon_custom.html" }}
		{{ partial "head/link_favicon_custom" }}
	{{ else }}
		<link
			rel="icon"
			href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.866em%22 font-size=%22100%22>🌕</text></svg>"
		/>

		{{- $discSvg := resources.Get "base-structure/images/disc.svg" -}}
		<link rel="mask-icon" href="{{ $discSvg.RelPermalink }}" color="#eecc00" />
	{{ end }}
{{- else -}}
	{{- /* Development favicon cannot be customized */ -}}
	<link
		rel="icon"
		href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.866em%22 font-size=%22100%22>🧱</text></svg>"
	/>

	{{- $bricksSvg := resources.Get "base-structure/images/bricks.svg" -}}
	<link rel="mask-icon" href="{{ $bricksSvg.RelPermalink }}" color="#b43c22" />
{{- end -}}
