{{- /* JS build options: minification only in production, replace NODE_ENV
	according to hugo environment */
-}}
{{- $opts := dict -}}
{{- $optsEs5 := dict -}}
{{- $defines := dict -}}
{{- if hugo.IsProduction -}}
	{{- $defines = dict "process.env.NODE_ENV" `"production"` -}}
	{{- $optsEs5 = dict "target" "es5" "minify" true "defines" $defines -}}
	{{- $opts = dict "minify" true "defines" $defines -}}
{{- else -}}
	{{- $defines = dict "process.env.NODE_ENV" `"development"` -}}
	{{- $optsEs5 = dict "target" "es5" "defines" $defines -}}
	{{- $opts = dict "defines" $defines -}}
{{- end -}}

{{- /* Critical JS that needs to be executed as soon as possible (no defer here) */ -}}
{{- $criticalEs5_js := resources.Get "base-structure/js/critical.js" | js.Build $optsEs5 | fingerprint -}}
{{- $critical_js := resources.Get "base-structure/js/critical.js" | js.Build $opts | fingerprint -}}	<script nomodule>{{ $criticalEs5_js.Content | safeJS }}</script>
	<script>{{ $critical_js.Content | safeJS }}</script>

{{- /* WARNGING: we assume that development is made on a modern browser -}}
{{- /* This speeds up the feedback loop while developping */ -}}
{{- if hugo.IsProduction -}}
	{{- /* Webcomponents loader: injects the polyfill only if necessary */ -}}
	{{- /* Note: webcomponents-loader is not a module, we need to import it "the old way" */ -}}
	{{- /* See module.toml for the mount from node_modules */ -}}
	{{- /* Trick here to minify and keep the same script name ".js" instead of ".min.js" */ -}}
	{{- /* (mandatory for this loader to work) */ -}}
	{{- if .Param "activate_web_components" -}}
		{{- $wcLoader_js := slice (resources.Get "@webcomponents/webcomponentsjs/webcomponents-loader.js" | resources.Minify) | resources.Concat "@webcomponents/webcomponentsjs/webcomponents-loader.js" -}}
		<script src="{{ $wcLoader_js.RelPermalink }}"></script>
	{{- end -}}

	{{- /* Support old browsers: CSS variables, SVG images */ -}}
	{{- $babelOpts := dict "compact" true "minified" true "noComments" true -}}
	{{- $oldBrowsers_js := resources.Get "base-structure/js/old_browsers.js" | js.Build $opts -}}
	{{- $oldBrowsers_js = $oldBrowsers_js | babel $babelOpts -}}

	{{- /* Bundle everything for old browsers */ -}}
	{{- $bundleEs5 := slice $oldBrowsers_js | resources.Concat "js/bundleEs5.js" | fingerprint -}}
	<script nomodule src="{{ $bundleEs5.RelPermalink }}" defer></script>
{{- end -}}

{{- /* Bundle everything for new browsers */ -}}

{{- /* Main JS. */ -}}
{{- /* Note: for old browsers, the main file is transpiled and included at the end */ -}}
{{- /* of the page. See $mainEs5_js in `layouts/partial/body_script_js_end.html` */ -}}
{{- $main_js := resources.Get "js/index.js" | js.Build $opts -}}

{{- $modernJsScratch := newScratch -}}
{{- $modernJsScratch.Set "modernJs" (slice $main_js) -}}

{{- /* If `activate_web_components` == true, webcomponents are loaded and initialized */ -}}
{{- if .Param "activate_web_components" -}}
	{{- $components_js := resources.Get "base-structure/js/components.js" | js.Build $opts -}}
	{{- /* $components_js := resources.Get "base-structure/js/components.js" | resources.ExecuteAsTemplate (printf "components-%s.svg" (index (split (path.Base $style.Permalink) ".") 1)) (dict "page" . "style_link" $style.Permalink) | resources.Fingerprint */ -}}
	{{- $modernJsScratch.Add "modernJs" $components_js -}}
{{- end -}}

{{- $bundle := $modernJsScratch.Get "modernJs" | resources.Concat "js/bundle.js" | fingerprint -}}
<script type="module" src="{{ $bundle.RelPermalink }}"></script>
